.boat-style {
    list-style: none;
    background-color: inherit;
    width: 50%;
    display: flex;
    justify-content: left;
    margin: 10px 0px 10px 0px;
    font-size: small;
}

.footerElementMain {
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.menu-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
button{
    border: none;
    background-color: inherit;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}